@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Work+Sans:wght@300&display=swap");

.NewDashboard-photoshootCard {
  width: 100%;
  height: auto;
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
}

.pending-booking__container {
  width: 14em;
  height: 15em;
  /* border: 1px solid black; */
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 0px 0px 9px #00000029;
  border: 2px solid #d1d1d1;
  /* font-family: "Montserrat", sans-serif !important; */
  font-weight: 100;
}

.pending-booking__container h6 {
  margin-bottom: 0;
}

.pending-booking__inner h3 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  text-shadow: 2px 2px #eaeaea;
  font-size: 1.2rem;
}

.pending-booking__container p {
  margin-bottom: 0;
}

.pendingBookings-action__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pendingBookings-action__container button {
  width: 4.5em;
  height: 2em;
  border-radius: 0.5em;
  border: none;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  transition: 0.1s ease-in;
}

.pendingBookings-action__container button:nth-child(2n) {
  margin-left: 10px;
}

.pendingBookings-action__container button:hover {
  background-color: #0069d9;
}

.no_confirm_booking_heading{
  margin-top: 2rem;
}

@media (max-width: 810px) {
  .NewDashboard-photoshootCard {
    justify-content: center;
  }
}

@media (max-width: 645px) {
  .pending-booking__container {
    /* display: block; */
    margin: 1em auto;
  }
}
