
#navright-backToTop{
    display:inline-block;
    position: fixed;
    top: 90vh;
    right: 10px;
    z-index: 1000000000;
    cursor: pointer;
}

.backToTop-icon{
    font-size: 2.5rem;
    /* display: none */
}

.backToTop-icon path{
    stroke: #007bff;
}