.container_dt{
    display: flex;
    float: left;
    justify-content: space-between;
    border-collapse: collapse;
    transition: all .2s ease-in;
    
}
.container_dt .box_dt{
  position: relative;
  width: 1200px;
  padding: 50px;
  background: #fff;
  box-shadow: 0 0px 25px rgba(0 ,0 ,0 , 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.box_dt{
top:0px;
  left: 150px;
 
}
.head1_dt{
    font-size: 20px; 
    font-family:  freight-display-pro, serif !important ;
}
.p1_dt{
    padding-bottom: -80px;
     padding-left: 20px;
     font-size: 15px; 
     font-weight: bold;
     font-family:  freight-display-pro, serif !important ;
    }
.p2_dt{
    font-family: "Manrope", sans-serif !important;
    color: rgb(75, 74, 74);
}
.button1{
    font-size: 18px;
    width: 200px;
    padding: 10px;
    background: #1E90FF;
    text-align: center;
    text-decoration: none;
    float: center;
    margin-left: 50px;
    color: #fff;
    border: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0 ,0 ,0 , 0.1);
    -webkit-transform-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transform-property: box-shadow, transform;
    -o-transition-property: box-shadow, transform;
  }
  .button1:hover, .button1:focus, .button1:active{
    box-shadow: 0 0 20px rgba(0 ,0 ,0 ,0.1);
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
  }
.d_t{
	padding: 20px 40px;
}
.d_t .font_dt{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.d_t input{
	margin-top: 5px;
	width: 200px;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #000000;
	text-align: left;
	padding: 5px 8px;
	border-radius: 3px;
}
.sub-main_dt input[type="date"],.sub-main_dt input[type="time"]  {
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px 18px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 92%;
    font-family: monospace;
}
.d_t button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 100%;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1E90FF;
	border-radius: 3px;
	border: 1px solid #1E90FF;
}
.d_t button:hover{
	background: #0b85ff;
}
.wrap {
    margin: 2% auto;
         background: rgba(125, 63, 152, 0.52);
    width: 32%;
      font-family: monospace;
    padding: 0 20px;
}